body {
    background: white;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

* {
    font-family: 'Public Sans', sans-serif;
}

.title {
    text-align: center;
    font-weight: 400;
    color: black;
}

.paragraph {
    text-align: center;
    font-weight: 300;
    color: #9698A6;
}

.container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.nav-list-container {
    display: none;
    box-sizing: border-box;
    padding: 0 .5em;
    width: 45%;
}

.nav-list-div-holder {
    width: 100%;
    margin-top: 0;
}

.nav-list-div-holder ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav-actual-list {
    box-sizing: border-box;
    height: 5.5em;
    padding-top: 2em;
    cursor: pointer;
}

.mobile-nav-list-container {
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 0;
}

.mobile-nav-list-div {
    width: 100%;
    position: absolute;
    z-index: +3;
    background: white;
    margin-top: 6.5em;
    padding-bottom: 1.5em;
    padding-top: .5em;
}

.mobile-nav-list-div ul {
    text-align: center;
    padding-left: 0;
}

.mobile-nav-list-div li {
    cursor: pointer;
    font-weight: 400;
}

.mobile-nav-actual-list {
    padding-top: 1em;
}

.mobile-nav-list-container ul {
    margin: 0;
}

.nav-actual-list::after {
    box-sizing: border-box;
    content: "";
    display: block;
    height: 2.3em;
    width: 0%;
    border-bottom: solid #31D35C 4px;
    margin-top: 30;
    transition: 0.3s;
}

.nav-actual-list:hover:after {
    width: 100%;
}

.nav-list-div-holder li {
    list-style: none;
    font-weight: 400;
}

.navigation-container {
    box-sizing: border-box;
    position: absolute;
    z-index: +3;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 0 6em;
    height: 5.5em;
}

.easybank-logo {
    padding-top: 2em;
}

.not-visible {
    display: none;
}

.nav-desktop-button {
    display: none;
}

.top-content-container {
    width: 100%;
    background: #FAFAFA;
}

.nav-phone-button {
    padding: 2em 1em;
    cursor: pointer;
}

.top-content {
    position: relative;
    width: 100%;
}

.creative-gradient {
    width: 100%;
    max-height: 21.5em;
    margin: auto;
    overflow: hidden;
}

.creative-gradient img {
    width: 100%;
}

.phone-mockups {
    box-sizing: border-box;
    position: absolute;
    z-index: +2;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -2.5em;
}

.phone-mockups img {
    width: 22em;
}

.request-invite-container {
    box-sizing: border-box;
    width: 100%;
    background: #FAFAFA;
    padding: 5.5em 2em;
}

.request-invite-title {
    font-size: 2rem;
}

.request-invite-content {
    font-size: 1rem;
    padding-top: 1.5em;
}

.request-invite-button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
}

.why-chose-easybank-container {
    width: 100%;
    background: #F3F4F6;
    padding: 2.5em 0;
}

.why-chose-easybank-title {
    font-size: 1.5rem;
}

.why-chose-easybank-content {
    width: 80%;
    margin: auto;
    padding-top: 1.5em;
}

.second-portion-container {
    width: 100%;
    background: #F3F4F6;
}


/* TABLET */

@media screen and (min-width: 768px) {
    .navigation-container {
        padding: 0 2.5em;
    }
    .nav-desktop-button {
        display: flex;
        align-items: center;
    }
    .nav-phone-button {
        display: none;
    }
    .nav-list-container {
        display: block;
    }
    .mobile-nav-list-container {
        display: none;
    }
    .phone-mockups img {
        width: 26.5em;
    }
    .phone-mockups {
        margin-top: -5.3em;
    }
}


/* DESKTOP */

@media screen and (min-width: 1024px) {
    .why-chose-easybank-container {
        box-sizing: border-box;
    }
    .why-chose-easybank-title {
        width: 45%;
        text-align: left;
        font-size: 2rem;
    }
    .why-chose-easybank-content {
        width: 45%;
        text-align: left;
        margin-left: 0;
    }
    .second-portion-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .why-chose-easy-bank-div {
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: 1300px) {
    .top-content-container {
        display: flex;
        flex-direction: row-reverse;
    }
    .request-invite-container {
        width: 50%;
        padding-left: 6.5em;
        margin-top: 8em;
    }
    .request-invite-title {
        width: 100%;
        font-size: 3.25rem;
        text-align: left;
    }
    .request-invite-content {
        text-align: left;
        width: 70%;
    }
    .request-invite-button {
        justify-content: flex-start;
    }
    .top-content {
        box-sizing: border-box;
        width: 65%;
    }
    .creative-gradient {
        box-sizing: border-box;
        min-height: 40em;
    }
    .phone-mockups {
        box-sizing: border-box;
        margin-top: 0;
        margin-left: -1em;
        margin-top: -2em;
    }
    .creative-gradient img {
        box-sizing: border-box;
        width: 100%;
    }
    .phone-mockups img {
        position: absolute;
        width: 48em;
    }
    .nav-list-container {
        width: 40%;
    }
    .navigation-container {
        padding: 0 5em;
    }
    .top-content-container {
        height: 43em;
    }
    .why-chose-easybank-title {
        font-size: 2.5rem;
    }
}